$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.container-fluid{
  padding-top: 50px;
}

th.options{
  min-width: 130px;
}


.align-center{
  text-align:center !important;
}

.align-left{
  text-align:left !important;
}
img.preloader{
  display:inline-block;
  width: 44px;
  height: 44px;
  margin-bottom: 20px;
  margin-top: 20px;
  &.hidden {
    display:none;
  }
  &.small {
    width: 22px;
    height: 22px;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }
  &.pull-right {
    float:right;
    display:block;
    margin-right: 0px;
  }

}
